body {
    font-family: dock;
    font-size: 22px;
    background-color: rgb(190, 210, 240);
}

h1, h2, h3, h4, h5 {
    font-family: dock;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

#main {
    background-color: white;
    padding: 5px;
}

#title {
    background-color: white;
    border: 2px dashed black;
    padding: 10px;
    text-align: right;
    margin-bottom: 5px;
}

#title h1 {
    font-family: kgneatlyprinted;
}

#title a {
    margin-left: 10px;
}

#header {
    margin-top: 5px;
}

#footer {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 5px 5px 5px;
}

#menu {
    left: -15px; /* Override the row's negative margin, basically. This first item I want inline with the start. */
    display: flex;
    align-self: flex-end;
}

    #menu .btn-secondary, #menu .btn-secondary:focus {
        border: none;
        font-size: 24px;
        background-color: transparent;
        color: rgb(80, 80, 80);
        box-shadow: none;
    }

    #menu .btn-secondary:not(.active):hover {
        cursor: pointer;
        border: none;
        color: black;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    }

    #menu .btn-secondary.active {
       font-weight: bold;
       border: 1px 1px 0px 1px solid black;
       border-radius: 0;
       background-color: white;
       cursor: default;
    }

    pre {
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Fira Code';
    }

    pre > span.classStyle {
        font-weight: bold;
        color: blue;
    }